/* Application styles */

.outline {
  border: solid 2px rgb(255, 242, 0);
  padding: 16px;
  margin-top: 16px;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.gooi-container {
  margin: 10px auto;
}

.background {
  background-color: #84cba3;
  height: 100vh;
}

.collection-container {
  padding: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection-header {
  font-family: "Inter";
  margin-bottom: 16px;
  text-align: center;
  font-size: 24px;
}

.collection-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 3px 3px 5px 6px #138a64;
  padding: 16px;
  border-radius: 16px;
  background-color: lightgrey;
}

.collection_note {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  flex-direction: column;
  align-items: center;
}

.collection_bucket_quantity {
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;
}
.collection_bucket_type {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.edit_collection {
  display: flex;
  flex-direction: column;
}

.collection-address {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  margin-bottom: 8px;
}

.collect-button {
  color: white;
  background-color: #3c8a63;
  border: 2px solid #3c8a63;
  padding: 8px 12px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 2.5vmin;
  box-shadow: 1px 1px lightgray;
  cursor: pointer;
  margin-bottom: 8px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 16px;
}

.back_button {
  color: white;
  background-color: #3c8a63;
  border: 2px solid #3c8a63;
  width: fit-content;
  padding: 8px;
  border-radius: 16px;
}

#collection_note {
  border-radius: 16px;
  text-align: center;
  height: 12rem;
  padding: 10px;
  border: 2px solid black;
}

#collection_bucket_quantity {
  border-radius: 16px;
  text-align: center;
  width: 50px;
  padding: 10px;
  border: 2px solid black;
}

#new_collection {
  display: flex;
  flex-direction: column;
}

#new_subscription {
  display: flex;
  flex-direction: column;
}

.subscription_street_address {
  display: flex;
  justify-content: space-between;
}

#subscription_street_address {
  border-radius: 16px;
  text-align: center;
  height: 30p;
  padding: 8px;
  border: 2px solid black;
}

#subscription_suburb {
  border-radius: 16px;
  border: 2px solid black;
  padding: 8px;
}

#subscription_plan {
  border-radius: 16px;
  border: 2px solid black;
  padding: 8px;
}

#subscription_duration {
  border-radius: 16px;
  border: 2px solid black;
  padding: 8px;
}

#collection_bucket_type {
  border-radius: 16px;
  border: 2px solid black;
  padding: 8px;
}

#subscription_start_date {
  border-radius: 16px;
  border: 2px solid black;
  padding: 8px;
}

#subscription_collection_day {
  border-radius: 16px;
  border: 2px solid black;
  padding: 8px;
}

#subscription_suburb {
  border-radius: 16px;
  border: 2px solid black;
  padding: 8px;
}
#subscription_complex {
  border-radius: 16px;
  border: 2px solid black;
  padding: 8px;
}

.subscription_suburb {
  display: flex;
  justify-content: space-between;
}

.subscription_plan {
  display: flex;
  justify-content: space-between;
}

.subscription_duration {
  display: flex;
  justify-content: space-between;
}

.subscription_collection_day {
  display: flex;
  justify-content: space-between;
}

.subscription_start_date {
  display: flex;
  justify-content: space-between;
}
